<!-- * Encabezado de la pagina -->
<%- include ("../partials/head") %>

<title>Detalle producto</title>
</head>

<body class="bodyHome">
    
    <!-- Cabecera -->
    <%- include ("../partials/header") %>

    <!-- Contenido -->

    <section class="generalHome">

        <div class="ProductNew">

            <form action="/cart/addProduct" method="POST" id="addProductCart">

                <div class="ProductNew__Container">

                    <div class="ProductNew__clusterZeroTitle">
                        <h1><%=product.name%></h1>
                    </div>

                    <div class="Nicolas ProductNew__clusterOneImage">
                        <div class="ProductNew__imageProduct">
                            <img src="/img/productos/<%=product.images_products[0].path%>" alt="Cafe-la-morenita">
                        </div>
                    </div>

                    <div class="ProductNew__detailProduct Nicolas ProductNew__clusterTwoDetailProduct">
                        <h3 class="ProductNew__detailProduct-Two">Descripcion del Producto</h3>
                        <p><%=product.description%> ¡Hacemos el café más rico para que vos puedas disfrutarlo! <b>Mecafe es seguridad y bienestar</b></p>
                    </div>

                    
                    <div class="ProductNew__selectorCharacteristics Nicolas ProductNew__clusterThreeSelectorCharacteristics">

                        <h3>Eleccion de Caracteristicas</h3>
                        
                        <div class="ProductNew__selector">
                            <label for="idProductGrame">Gramos:</label>
                            <select name="idProductGrame" id="idProductGrame"> 
                                <option selected disabled>Seleccion de Gramos</option>
                                <% product.products_grames.forEach( element => { %>
                                    <% if(element.price > 0) {%>
                                        <option value="<%=element.id%>" priceValue="<%= element.price %>" ><%= element.grames == 1000 ? '1kg' : element.grames + ' grs' %></option>
                                    <% } %>
                                <% }); %>
                            </select> 
                        </div>

                        <div class="ProductNew__selector">
                            <label for="idProductTypeGrinding">Molienda:</label>
                            <select name="idProductTypeGrinding" id="idProductTypeGrinding"> 
                                <option selected disabled>Selecciona la Molienda</option>

                                <% product.type_grindings.forEach( element => { %>
                                    <% if(element.ProductTypeGrinding.active) {%>
                                        <option value="<%=element.ProductTypeGrinding.id%>"><%=element.name%></option>
                                    <% } %>                                   
                                <% }); %>

                            </select> 
                        </div>

                        <div class="ProductNew__selector ProductNew__amount">
                            <label for="quantity">Cantidad:</label>
                            <div>
                                <i id="removeOne" class="fa-solid fa-minus"></i>
                                <input id="quantity" placeholder="Ingresa la cantidad" name="quantity" type="number" value="1" readonly min="1">
                                <i id="addOne" userActive=<%= locals.user ? true : false; %> class="fa-solid fa-plus"></i>
                            </div>
                        </div>

                        <!-- al cargar pagina mostramos el menor precio -->
                        <div id="productPrice__container">
                            <h5>Precio:<span id="productPrice"><%= minorPrice %> USD</span></h5>
                            <button type="submit">Añadir al Carrito</button>
                        </div>

                    </div>
                        
                    <div class="paymentMethodsImageProduct Nicolas ProductNew__clusterForPaymentMethods">
                        <div class="ProductNew__paymentMethodsImageProduct">
                            <img src="/img/DetailsProduct/formas-pago-blanco.png" alt="Cafe-la-morenita">
                        </div>
                    </div>
                    
                    <div class="ProductNew__detailProduct Nicolas ProductNew__clusterFive">
                        <h3 class="ProductNew__detailProduct-Five">Lo queres ¿Que esperas? 😍</h3>
                        <p>¡No lo pienses tanto! | <b>Es Sano, Rico y Barato.</b> ¿En serio vas a dejar pasar la oportunidad de tener en tu casa el mejor cafe que podes conseguir? <b>Date el gusto ¡Para eso trabajamos!</b></p>

                    </div>
                
                </div>

            </form>

        </div>

    </section>

    <!-- Pie de Pagina -->
    <%- include("../partials/footerNico") %>
    <script src="../../../../../../../../js/productDetails.js"></script>


</body>
</html>